/* body{
    margin: 0 auto;
} */

.work-sans{
  font-family: "Work Sans", sans-serif;
}

                                        /* Shared Style */
.btn{
    width: 180px;
    height: 64px;
    padding: 20px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    border-radius:  8px;
    border-style: none;
}

                                        /* Header style */

header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    margin-top: 50px;
    margin-left: 150px;
}
.menu{
    margin-top: 40px;
    margin-right: 120px;
    justify-content: center;
    align-items: center;
    
}
.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    font-weight: 500;
    cursor: pointer;
}

                                       /* Banner style */

.banner{
    width: 100%;
    max-width: 1440px;
}
.bannner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.bannner-content h2{
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 16px;
}
.bannner-content p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.banner-photo{
    margin-top: 50px;
}
.banner-photo img{
    border: #FF900E ;
    width: 100%;
}

                                             /* Style For Feature Section */

.feature-container{
    display: flex;
    align-items: center;
    margin-top: 85px;
}
.feature-container .employee-photo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    border-radius: 8px;
}
.feature-container .content{
    /* border: 1px solid red; */
    margin-left: 75px;
}
.content h3{
    line-height: 30px;
}
#title{
    font-size: 45px;
    font-weight: 500;
}
#first {
    font-weight: 700;
    font-size: 45px;
}
#second{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.content p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 31px;
}

                                                   /* Style For descrioption Section */

#description{
    margin-top: 130px;
}
.descript-container{
    display: flex;
    gap: 120px;

}
.writing-content{
    margin-left:  100px;
}
.writing-content h3{
    text-align: start;
    font-size: 45px;
    font-weight: bold;  
    color: #131313;
    line-height: 60px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.writing-content p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.content{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.061);
    margin-bottom: 20px;
}
.content h4{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 10px;
    color: #131313;
}
.content p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
#badge{
    padding: 35px 42px;
    font-size: 25px;
    font-weight: 500;
    width: 350px;
    height: 200px;
    margin-left: -80px;
    margin-top: -120px;
}
#Years{
    font-size: 55px;
    font-weight: bold;
    line-height: 70px;
}


                                                              /* Style For Fact Section */
#Fact-section{
    margin-left: 50px;
}

#Fact-section h3{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 20px;
    
}
#Fact-section p{
    width: 542px;
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    margin-left: 150px;
}

.fact-card{
border: 1px solid #FF900E;
width: 240px;
height: 240px;
border-radius: 8px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
gap: 0px;
}
.fact-card img{
    width: 45px;
    height: 45px;
}
.fact-card h4{
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-card h5{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}

                                                     /* Style For sponsor */
#sponsor-section{
    margin-top: 100px;
}
.sponsor{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor h3{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
.sponsor p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin-top: 50px;
}
.sponsor-company img{
    width: 160px;
    height: 50px;
    filter: grayscale(100%);
}

                                                 /* Style For Footer */
.footer{
    width: 100%;
    margin-top: 130px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FFF4E7;
}
.text{
    font-size: 20px;
    text-align: center;
    padding: 40px;
    color: #424242;
}

